.container {
  padding: 10px;
  background-color: gray;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 100px;
}
a, a:active, a:visited {
  color: red;
}
a {
  margin: 2px;
}
span {
  padding: 4px;
  background-color: lightgray;
  margin-top: 4px;
  display: block;
}